.main-menu {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  overflow: hidden; /* Prevent horizontal overflow */
}

.logo {
  height: 50px;
  cursor: pointer;
}

.org-logo {
  height: 60px;
  cursor: pointer;
  margin-left: auto;
}

.menu-button {
  display: none; /* Hide menu button on larger screens */
}

.settings-button {
  display: block;
  margin-left: auto;
}

.desktop-menu {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden; /* Prevent horizontal overflow */
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none; /* Hide desktop menu on small screens */
  }

  .menu-button {
    display: block; /* Show menu button on small screens */
    margin-left: auto;
  }

  .logo {
    height: 40px;
  }

  .org-logo {
    height: 40px;
    margin-left: auto;
  }

  .settings-button {
    position: absolute;
    right: 10px;
  }
}

.ant-menu-item {
  margin: 0 10px;
  padding: 0 5px;
}

.ant-menu-horizontal > .ant-menu-item {
  display: flex;
  align-items: center;
}

.ant-drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ant-drawer-title {
  font-weight: bold;
  font-size: 16px;
}

.ant-drawer-close {
  padding: 0;
  margin: 0;
}

.ant-progress {
  margin-top: 16px;
  width: 100%;
}

.ant-tooltip-inner {
  color: black;
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ant-popover {
  padding: 5px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
