*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: #161513;
    color: white;
    font-family: 'sans-serif,outfit';
}
/* src/index.css */

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  .auth-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  